
<footer class="bg-dark text-white pt-5 ph-4">
    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">CMPV</h5>
                <p>Aceasta este o descriere mai lunga a companiei bla sla kigisal acolo ma osldle pfdsa
                    dfsofdsakl epogkem...</p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold-warning">Produse</h5>
                <p>
                    <a href="{% url 'produse_lista' %}" class="text-white" style="text-decoration: none">4 Straturi</a>
                </p>
                <p>
                    <a href="{% url 'produse_lista' %}" class="text-white" style="text-decoration: none">5 Straturi</a>
                </p>
                <p>
                    <a href="{% url 'produse_lista' %}" class="text-white" style="text-decoration: none">6 Straturi</a>
                </p>
                <p>
                    <a href="{% url 'produse_lista' %}" class="text-white" style="text-decoration: none">Site si plase</a>
                </p>

            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Linkuri folositoare</h5>
                                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Informatii cont</a>
                </p>
                <p>
                    <a href="{% url 'servicii' %}" class="text-white" style="text-decoration: none">Servicii</a>
                </p>
                <p>
                    <a href="{% url 'noutati' %}" class="text-white" style="text-decoration: none">Noutati</a>
                </p>
                <p>
                    <a href="{% url 'oferta' %}" class="text-white" style="text-decoration: none">Solicita oferta</a>
                </p>
                <p>
                    <a href="{% url 'contact' %}" class="text-white" style="text-decoration: none">Contact</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Informatii Contact</h5>
                <p>
                    <i class="fas fa-home mr-3"></i>  Stefanesti 245700, Valcea, Romania
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>  cmarinpvc@yahoo.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>  +4072345678
                </p>
                <p>
                    <i class="fas fa-phone   mr-3"></i>  +0250449
                </p>
            </div>
            <div class="col-md-7 col-lg-8 ">
                <p>Copyright @2021 All rights reserver by:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-warning">CMPV</strong>
                    </a></p>
            </div>
        </div>

    </div>
<script src="https://kit.fontawesome.com/107b211610.js" crossorigin="anonymous"></script>
</footer>
