{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "img/logo.jpg" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/styles.css" %}'>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'oferta' %}">
                    <img src="{% static 'img/logo.jpg' %}" alt="logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    CMPV
                </a>
            </div>
        </nav>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Produsele Noastre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'produse_lista' %}">Ferestre 4 Camere</a></li>
                        <li><a class="dropdown-item" href="{% url 'produse_lista' %}">Ferestre 5 Camere</a></li>
                        <li><a class="dropdown-item" href="{% url 'produse_lista' %}">Ferestre 6 Camere</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'produse_lista' %}">Feromerie</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'servicii' %}">Servicii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'noutati' %}">Noutati</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Contact
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'contact' %}">Informatii Contact</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'oferta' %}#footer">Solicita oferta</a></li>
                    </ul>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <h4>Hello {{ user.username }}</h4>
                <button><a href="{% url 'logout' %}">Logout</a></button>
            {% else %}
                <button><a href="{% url 'register_client' %}"> Inregistrare clienti</a></button>
                <button><a href="{% url 'register_companie' %}"> Inregistrare companii</a></button>
                <button><a href="{% url 'login' %}"> Login</a></button>
            {% endif %}

            {% if user.is_superuser or user.is_staff %}
                <button><a href="{% url 'admin_rapoarte' %}">Rapoarte</a></button>
            {% endif %}

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
