<footer id='footer' class="bg-light text-white pt-5 ph-4">
    <form method="post" action="">
        {% csrf_token %}
        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">


                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Solicita oferta online!</h5>
                    <p>
                        <label>
                            <input type="text" class="form-control" name="nume" placeholder="Nume" required>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="text" class="form-control" name="judete" placeholder="Judet" required>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="text" class="form-control" name="localitate" placeholder="Localitate" required>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </label>

                    <p>
                        <label>
                            <input type="text" class="form-control" name="telefon" placeholder="Telefon" required>
                        </label>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Spuneți-ne pe scurt ce produse vă
                        interesează și un reprezentat vă va contacta pentru mai multe informații!</h5>
                    <p>
                        <label>
                <textarea name="descriere" cols="40" rows="4" required>
                </textarea>
                        </label>

                </div>
            </div>
        </div>
        <button type="submit" name="trimite_oferta">Submit</button>

    </form>

</footer>