<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Companie:</h2>
<form method="post" action="" id='formTwo'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="form2" value="formTwo">
    <button type="submit" name="creare_companie">Submit</button>
</form>
</body>
</html>