<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Client</h2>
<form method="post" action="" name="creare_client">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="form" value="formOne">
    <button type="submit" name="creare_client">Submit</button>
</form>

</body>
</html>