<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<h1>Sign in</h1>
<form method="post" action="">
    {% csrf_token %}
    <!-- In caz ca se parola si userul nu coincid, va aparea o eroare -->
    {% if form.errors %}
        <small>Your username and password didn't match. Please try again</small>
    {% endif %}

    <!-- aici este inputul pentru user -->
    <input name="username" type="text"  id="id_username" placeholder="Username" required
           {% if form.is_bound %}value="{{ form.username.value }}"{% endif %}>
    <label for="id_username">Username</label>

    <!-- In caz ca se introduce user gresit, va aparea o eroare -->
    {% for err in form.username.errors %}
        <small>{{ err }}</small>
    {% endfor %}

    <!-- aici este inputul pentru password -->
    <input name="password" type="password" id="id_password" placeholder="Password"
           required>
    <label for="id_password">Password</label>

    <!-- In caz ca se introduce o parola gresita, va aparea o eroare -->
    {% for err in form.password.errors %}
        <small>{{ err }}</small>
    {% endfor %}

    <input type="submit" value="Login">

</form>
</body>
</html>