<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ultimele comenzi</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <h4>Alegeti cate comenzi doriti sa vedeti:</h4>
    <input type="number" name="nr_comenzi">

    <button type="submit">Submit</button>
</form>

    <h2>Ultimele comenzi</h2>
    {% for comanda in comenzi %}
        Client:{{ comanda.user.username }}
        Data: {{ comanda.data }}
        Suma: {{ comanda.suma }}
    {% endfor %}

</body>
</html>