<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raport comanda client</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <h4>Introduceti un client:</h4>
    <input type="text" name="user" VALUE="Nume client">

    <button type="submit">Submit</button>

    <h2>Comenzile clientilor:</h2>
    {% for comanda in comenzi %}
        {{ comanda.user.username }}
        {{ comanda.denumire }}
    {% endfor %}
</form>
</body>
</html>