<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comenzi</title>
</head>
<body>
{% for comanda in comenzi %}
<h2>Istoric comenzi</h2>
Client: {{ comanda.user.username }}
Data: {{ comanda.data }}
Suma: {{ comanda.suma }}
{% endfor %}
</body>
</html>