<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produse</title>
</head>
<body>
<h2>Cele mai populare produse:</h2>
{% for produs in produse %}
    Produs: {{ produs.denumire }}
{% endfor %}
</body>
</html>