<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raport per zile</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <h4>Alegeti data de inceput</h4>
    <input type="date" name="data_inceput" VALUE="Alegeti data de inceput">
    <h4>Alegeti data de sfarsit</h4>
    <input type="date" name="data_sfarsit" VALUE="Alegeti data de sfarsit">

    <button type="submit">Submit</button>

    <h2>Comenzi:</h2>
    {% for comanda in comenzi_zile %}
        Comanda: {{ comanda.user.username }}
        Data: {{ comanda.data }}
        Suma: {{ comanda.suma }}
    {% endfor %}
</form>
</body>
</html>