<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sterge Noutate</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <p>Sigur vrei sa elimini noutatea?</p>{{ noutati.nume }}
        <button type="submit" class="button">Submit</button>
    </form> <br><a href="{% url 'noutati_list' %}">Inapoi la lista de noutati</a></body>
</html>