<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista Noutati</title>
</head>
<body>
    <form method="get">
        {% csrf_token %}
        {% for noutate in toate_noutatile %}
            <p> {{ noutate.nume }} </p>
            <a href="{% url 'noutati_delete' noutate.id %}">Sterge Noutatea</a>
            <a href="{% url 'noutati_update' noutate.id %}">Actualizeaza Noutate</a>
        {% endfor %}

    <a href="{% url 'noutati_create' %}">Creare Noutate</a>
    </form>
    <a href="{% url 'admin_rapoarte' %}">Inapoi pe pagina de admin</a>

</body>
</html>