<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizeaza Servicii</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Salveaza actualizarile</button>
    </form>
</body>
</html>