<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sterge Serviciul</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <p>Sigur vrei sa elimini serviciul?: {{ servicii.nume }}</p>
        <button type="submit" class="button">Submit</button>
    </form> <br><a href="{% url 'servicii_list' %}">Inapoi la lista de servicii</a></body>
</html>