<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista Noutati</title>
</head>
<body>
    <form method="get">
        {% csrf_token %}
        {% for serviciu in toate_serviciile %}
            <p> {{ serviciu.nume }} </p>
            <a href="{% url 'servicii_delete' serviciu.id %}">Sterge Serviciu</a>
            <a href="{% url 'servicii_update' serviciu.id %}">Actualizeaza Serviciu</a>
        {% endfor %}
    <a href="{% url 'servicii_create' %}">Creare Servicii</a>
    </form>
    <a href="{% url 'admin_rapoarte' %}">Inapoi pe pagina de admin</a>
</body>
</html>