<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista cu Produsele</title>
</head>
<body>
<form method="get" action="">
    {% csrf_token %}
    <h3>O lista cu Gamele de produse:</h3>
    {% for produs in toate_produsele %}
        {% if produs.importante %}
           <div>
            <p>{{ produs.denumire }}</p>
               <a href="{% url  'actualizare_produs' produs.id%}">Actualizeaza Gama</a>
           </div>
        {% endif %}
    {% endfor %}
    <br>
    <h3>O lista cu toate produsele:</h3>
    {% for produs in toate_produsele %}
        {% if produs.importante == 0 %}
            <p>{{ produs.denumire }}</p>
            <a href="{% url  'actualizare_produs' produs.id%}">Actualizeaza Produs</a>
        {% endif %}
    {% endfor %}
    <div>
        <a href="{% url 'creare_produs' %}">Adauga Produs/Gama</a>
    </div>
</form>
</body>
</html>