{% extends 'base.html' %}
{% block title %}
    Pagina de produse
{% endblock %}
{% block content %}
    <form method="get" action="">
        {% csrf_token %}
        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">
                {% for produs in toate_produsele %}
                    {% if produs.importante %}
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">{{ produs.denumire }}</h5>
                        <p>{{ produs.descriere }}</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <img src="{{ produs.imagine.url }}" height="500" width="250">
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}