<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizare Produs</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}

    <div>
        <button type="submit" name="salveaza_actualizarile">
            Salveaza Actualizarile
        </button>
    </div>
    <div>
        <br>
        {% if produs.importante %}
            <button type="submit" name="sterge_produs">
                Sterge Gama de produse
            </button>
        {% else %}
            <button type="submit" name="sterge_produs">
                Sterge Produsul
            </button>
        {% endif %}
    </div>

    <div><p>
        <a href="{% url 'lista_produse' %}">Inapoi la Lista de Produse</a>
    </p>
    </div>
</form>
</body>
</html>