{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/styles.css" %}'>
</head>
<body>
{% if user.is_superuser or user.is_staff%}
    <button><a href={% url 'raport_clienti_comenzi' %}>Raport clienti/comenzi</a></button>
    <button><a href="{% url 'raport_comenzi' %}">Raport comenzi</a></button>
    <button><a href="{% url 'raport_produse_populare' %}">Raport produse populare</a></button>
    <button><a href="{% url 'lista_produse' %}">Raport lista produse</a></button>
    <button><a href="{% url 'raport_comenzi_zile' %}">Raport comenzi/zile</a></button>
    <button><a href="{% url 'raport_comanda_client' %}">Raport comenzi clienti</a></button>
    <button><a href="{% url 'raport_ultimele_comenzi' %}">Raport ultimele comenzi</a></button>
    <button><a href="{% url 'noutati_list' %}">Editare Noutati!</a></button>
    <button><a href="{% url 'servicii_list' %}">Editare Servicii!</a></button>

{% else %}
<h2> Nu aveti permisiune sa accesati aceasta pagina!</h2>

{% endif %}
</body>
</html>