{% extends 'base.html' %}
{% load static %}
{% block title %}
        <link rel="stylesheet" type="text/css" href='{% static "css/styles.css" %}'>
    Contact
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="judet">Judet:</label>
        <input type="text" name="judet" id="judet">
        <br>
        <label for="localitate">Localitate:</label>
        <input type="text" name="localitate" id="localitate">
        <br>
        <label for="nume">Nume:</label>
        <input type="text" name="nume" id="nume">
        <br>
        <label for="telefon">Telefon:</label>
        <input type="text" name="telefon" id="telefon">
        <br>
        <label for="companie">Companie:</label>
        <input type="text" name="companie" id="companie" value="Optional">
        <br>
        <label for="descriere">Descriere:</label>
        <input type="text" name="descriere" id="descriere">


        <button type="submit" name="contact">Contact</button>
    </form>

{% endblock %}