<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura emisa</title>
</head>
<body>
Factura

<p>Pentru {{ factura.comanda.user.username }}, urmatoarele produse:
</p>
    Cod produs: {{ factura.produs.cod_p }}
    {{ factura.produs.denumire }}

Cod client: {{ factura.comanda }}

Cantitate: {{ factura.cantitate }}
</body>
</html>