<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>

<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" name="factura">Submit</button>
</form>

</body>
</html>