{% extends 'base.html' %}
{% block title %}
    Noutati
{% endblock %}
{% block content %}
    <form method="get">
        {% csrf_token %}
        {% for noutate in noutati %}
            <p>{{ noutate.nume }}</p>
            <p>Descriere :{{ noutate.descriere }}</p>
        {% endfor %}
    </form>
{% endblock %}
