{% extends 'base.html' %}
{% block title %}
    Servicii
{% endblock %}
{% block content %}
    <form method="get">
    {% csrf_token %}
    {% for serviciu in servicii %}
    <p>{{ serviciu.nume }}</p>
    <p>Descriere Serviciu:{{ serviciu.descriere }}</p>
    {% endfor %}
    </form>
{% endblock %}
